/* CSS declarations go here */
@import "../node_modules/react-vis/dist/style";
html, body {
    overflow-x: hidden;
}

/*noinspection CssOptimizeSimilarProperties*/
body {
    background: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2815532/680/453/m1/fpnw/wm0/1-6031-.jpg?1496845260&s=11ef584534bab88c73849ceddf31fd7a") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.container-fluid {
    padding: 0 !important;
}

.first-column {
    overflow: hidden;
}

.navbar {
    border-radius: 0 !important;
    background-color: #22252c !important;
}

.list-group {
    position: relative !important;

}

.list-group-item {
    height: 65px !important;
    width: auto !important;
    font-family: "Century Gothic";
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #F5F5F5 !important;
    color: #080808 !important;
    position: relative !important;
    display: block !important;
    border-radius: 0% !important;

}

.icon1 {
    color: #EF5350 !important;
}

.icon2 {
    color: #9FA8DA !important;
}

.icon3 {
    color: #4DB6AC !important;
}

.icon4 {
    color: #FF4081 !important;
}

.icon5 {
    color: #00ACC1 !important;
}

.icon6 {
    color: #FFB74D !important;
}

.icon7 {
    color: #607D8B !important;
}

.icon8 {
    color: #CE93D8 !important;
}

.icon9 {
    color: red !important;
}

.sell {
    background-color: white;
    padding: 0 0;

}

.sell-buttons {

}

.list-group-item:active {
    text-decoration: none;
    background-color: #E0E0E0 !important;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: #E0E0E0 !important;
}

.navbar-inverse {
    background-image: none !important;
    background-color: #080808;
}

.modal {
    margin-top: 10%;
}

.signup-btns {
    margin-left: 5px;
}

.addproduct-buttons {
    float: left;
}

.header {
    background-color: #22252c;
    color: #f5f5f5;
}

.order-items li {
    display: inline-block;
}

.order-items img {
    width: 75px !important;
    height: 75px !important;
}

.order-items .btn {
    margin-left: 1%;
}

.orders {
    background-color: whitesmoke;
}

.home-buttons-order {
    margin-top: 50% !important;
    margin-right: 5%;
    padding: 2% 4% 4% 4%;
    background-color: #F5F5F5 !important;
}

.slanted {
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.home-buttons-order h2 {
    color: #263238 !important
}
