/* CSS declarations go here */
body {
    background-color: #F5F5F5;
}

.container-fluid {
    padding: 0 !important;
}

.first-column {
    overflow: hidden;
}

.navbar {
    border-radius: 0 !important;
}

.navbar-inverse {
    background-image: none !important;
    background-color: #080808;
}
